div#toc-1 {
  position: fixed;
  top: 0.5in;
  right: 0.5in;
  z-index: 10;
}

div#floatingContainer {
  position: fixed;
  top: 2in;
  left: 2in;
  width: 7in;
  height: 6in;
  z-index: 20;
}

div#currentSection {
  height: 0.5in;
}

svg#mainSvg {
  width: 6in;
  height: 4.5in;
  background-color: aliceblue;
}

circle.animateTransition {
  transition: width 2s, height 2s, transform 2s;
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari and Chrome */
}

div.section {
  height: 1000px;
  margin-left: 0.3in;
}

div.story {
  position: relative;
  top: 4in;
  left: 3in;
  width: 4in;
  z-index: 30;
}

.text1 {
  animation: animate1 1s 1;
}

@keyframes animate1 {
  0% {
    color: black;
    margin-bottom: -40px;
  }

  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }

  85% {
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}
